*{
        padding: 0;
        margin: 0;
}

.header{
        background-color: rgb(46, 46, 247);
        color: white;
        display: flex;
        justify-content: space-between;

}

.navs ul{
        display: flex;
        justify-content: center;
        gap: 20px;
        list-style: none;

}
